@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", "Montserrat", sans-serif;
  overflow-x: hidden;
  color: #fff;
  background-color: #000;
}

/* React Loading Overlay causes double scrollbars, the below selector will prevent this */
._loading_overlay_wrapper {
  overflow: hidden;
}

.form-control {
  color: rgb(213, 209, 203);
  background-color: rgb(19, 21, 22);
  border-color: rgb(57, 62, 65);
}

.form-control:disabled {
  color: rgb(213, 209, 203);
  background-color: rgb(43, 39, 41);
  border-color: rgb(57, 62, 65);
}

.form-control:focus {
  color: rgb(213, 209, 203);
  background-color: rgb(43, 39, 41);
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  color: rgb(213, 209, 203);
  -webkit-text-fill-color: rgb(213, 209, 203);
  background-color: rgb(43, 39, 41);
  box-shadow: 0 0 0px 1000px #222 inset;
  -webkit-box-shadow: 0 0 0px 1000px #222 inset;
  border-color: rgb(57, 62, 65);
  transition: background-color 5000s ease-in-out 0s;
}

/* TEDx Styles */
.tedx-color {
  color: #FF2B06;
}

.btn-tedx {
  background-color: #FF2B06;
  color: #fff;
}

.btn-tedx:hover {
  color: #eee;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

/* Avatar Styles for registration form */
.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 15px #444;
  border-radius: 50%;
}

.avatar:hover {
  background-color: rgba(0, 0, 0, 0.075);
}